{
    "env": {
        "browser": true,
        "jquery": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "quotes": ["error", "single"]
    }
}